body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  max-width: 1920px;
  margin: 0 auto;
  padding: 24px;
}

@media (max-width: 1200px) {
  .content{
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .content{
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .content{
    max-width: none;
  }
}
